<h2 class="center add_top_padding">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field col">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-sm' %>
  </div>

  <div class="actions col">
    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>