<h2 class="center add_top_padding">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field col", style="padding-bottom: 5px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-sm' %>
  </div>

  <div class="actions col add_bottom_padding">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary', style: 'margin-bottom: 5px;' %><br>
    <%= render "devise/shared/links" %>
  </div>
<% end %>